In [2]:
import pandas as pd
import plotly as px
import matplotlib

## CUSTOMER EXPLORATION

In [17]:
customer = pd.read_csv("../data/customers.csv")

### DATA BRIEF

In [18]:
print(f"The shape of the dataset is {customer.shape}")

The shape of the dataset is (2000, 14)

In [19]:
customer.head()

,customer_id,name,email,phone_number,country,city,age,gender,interests,signup_date,last_purchase_date,total_spent,purchase_frequency,churn
0,CUST0001,Laura Hill,patrickcooke@hamilton.com,+1 (830) 982-9806,CA,South Lisa,61,F,"Beauty, Fashion",2022-08-17,2025-02-13,225.82,1.9,0
1,CUST0002,Kimberly Burnett,stonebrenda@hotmail.com,(938) 909-3033,US,Lake Priscilla,33,M,"Books, Sports, Electronics",2022-08-15,2024-04-17,3001.28,4.2,1
2,CUST0003,Abigail West,williamsbailey@hotmail.com,+1 (265) 189-5206,CA,North Tinahaven,45,Other,"Electronics, Sports",2022-12-18,2025-07-05,3934.91,2.1,0
3,CUST0004,Carolyn Rowland,kevinshah@conway.com,+234 690 602 6127,NG,Catherinehaven,49,M,"Books, Home Appliances",2023-03-19,2024-10-03,162.00,2.4,1
4,CUST0005,Amanda Johnson,melissa32@arnold.org,+44 7914 177971,UK,Jorgeburgh,59,F,"Sports, Home Appliances, Beauty",2023-01-09,2023-06-11,2233.89,3.8,1

In [20]:
customer.columns

Index(['customer_id', 'name', 'email', 'phone_number', 'country', 'city',
       'age', 'gender', 'interests', 'signup_date', 'last_purchase_date',
       'total_spent', 'purchase_frequency', 'churn'],
      dtype='object')

### COLUMNS DEBRIEF

1. Personal Identifiable Information: name, email, location (city & country), age, gender , last_purchase_date 

2. Additional Info: customer_id (unique ID), total_spent (on products), purchase_frequency (or number_of_orders), interests (tags/keywords of product interest)

In [21]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         2000 non-null   object
 1   name                2000 non-null   object
 2   email               2000 non-null   object
 3   phone_number        2000 non-null   object
 4   country             2000 non-null   object
 5   city                2000 non-null   object
 6   age                 2000 non-null   int64
 7   gender              2000 non-null   object
 8   interests           2000 non-null   object
 9   signup_date         2000 non-null   object
 10  last_purchase_date  2000 non-null   object
 11  total_spent         2000 non-null   float64
 12  purchase_frequency  2000 non-null   float64
 13  churn               2000 non-null   int64
dtypes: float64(2), int64(2), object(10)
memory usage: 218.9+ KB

In [22]:
# Descriptive statistics for numerical columns
customer.describe()

               age  total_spent  purchase_frequency        churn
count  2000.000000  2000.000000         2000.000000  2000.000000
mean     43.801500  2557.034085            2.772800     0.745500
std      15.471127  1401.000706            1.293432     0.435689
min      18.000000   100.170000            0.500000     0.000000
25%      30.000000  1387.180000            1.700000     0.000000
50%      44.000000  2529.855000            2.800000     1.000000
75%      57.000000  3772.452500            3.900000     1.000000
max      70.000000  4997.250000            5.000000     1.000000

From the stats above, the youngest & oldest customer by age are 18 & 70 year old respectively. On average customers spend around $2557. And the average purchase frequency is 2.7 (not bad if you would agree...)

In [23]:
# descriptive stats for categorical variables
customer.describe(include="object").T

                   count unique                 top freq
customer_id         2000   2000            CUST0001    1
name                2000   1968       Ashley Thomas    2
email               2000   1998  rjohnson@yahoo.com    2
phone_number        2000   2000   +1 (830) 982-9806    1
country             2000      5                  IN  443
city                2000   1869          Lake James    4
gender              2000      3                   F  671
interests           2000    154               Books  131
signup_date         2000    673          2022-08-17   11
last_purchase_date  2000    776          2024-11-04    9

 From the object stats, out of 2000 customer data, only 1968 are unqiue which is awkward & deserving a closer look. Same for email. Moving on, it's interesting to break the news that over 5 countries are serviced cutting across 1869 unique cities (with India possessing the highest service outreach). Meawhile, females top our customer leaderboard. Finally, data has it that the most highlighted interest among custoners is Book (is it safe now to say humans still read?...smiles...)

In [29]:
for n in customer.columns:
    print(customer[n].unique())

['CUST0001' 'CUST0002' 'CUST0003' ... 'CUST1998' 'CUST1999' 'CUST2000']
['Laura Hill' 'Kimberly Burnett' 'Abigail West' ... 'Ryan Schultz'
 'Tracy Ramos' 'Sharon Krueger']
['patrickcooke@hamilton.com' 'stonebrenda@hotmail.com'
 'williamsbailey@hotmail.com' ... 'jthomas@murray.com'
 'yscott@hotmail.com' 'ian41@hotmail.com']
['+1 (830) 982-9806' '(938) 909-3033' '+1 (265) 189-5206' ...
 '(851) 622-9626' '(492) 731-2367' '+1 (424) 597-4611']
['CA' 'US' 'NG' 'UK' 'IN']
['South Lisa' 'Lake Priscilla' 'North Tinahaven' ... 'South Scott'
 'West Andrewfurt' 'Lake Willieberg']
[61 33 45 49 59 38 57 31 18 66 62 64 35 41 53 46 70 27 56 55 28 63 60 54
 29 24 67 37 25 50 42 39 32 68 34 40 69 30 48 52 20 47 44 19 23 22 21 36
 51 26 58 43 65]
['F' 'M' 'Other']
['Beauty, Fashion' 'Books, Sports, Electronics' 'Electronics, Sports'
 'Books, Home Appliances' 'Sports, Home Appliances, Beauty' 'Books'
 'Books, Electronics' 'Books, Beauty' 'Electronics'
 'Home Appliances, Beauty, Sports' 'Beauty, Sports'
 'Books, Beauty, Home Appliances' 'Sports, Beauty, Books'
 'Fashion, Home Appliances, Electronics' 'Home Appliances, Electronics'
 'Electronics, Fashion' 'Sports' 'Sports, Beauty'
 'Fashion, Books, Electronics' 'Home Appliances, Sports'
 'Home Appliances, Electronics, Fashion'
 'Home Appliances, Beauty, Electronics' 'Electronics, Beauty' 'Beauty'
 'Beauty, Home Appliances, Books' 'Home Appliances'
 'Home Appliances, Beauty' 'Electronics, Sports, Home Appliances'
 'Sports, Fashion, Electronics' 'Electronics, Books'
 'Home Appliances, Books' 'Electronics, Sports, Beauty' 'Fashion'
 'Beauty, Electronics' 'Books, Sports' 'Fashion, Home Appliances'
 'Beauty, Books' 'Beauty, Electronics, Home Appliances'
 'Fashion, Electronics, Sports' 'Books, Sports, Beauty'
 'Books, Electronics, Home Appliances' 'Home Appliances, Sports, Books'
 'Electronics, Home Appliances, Books' 'Beauty, Sports, Home Appliances'
 'Sports, Books' 'Fashion, Beauty' 'Fashion, Beauty, Books'
 'Beauty, Sports, Books' 'Fashion, Electronics, Beauty'
 'Books, Beauty, Fashion' 'Beauty, Sports, Electronics'
 'Beauty, Home Appliances, Electronics' 'Fashion, Home Appliances, Sports'
 'Sports, Electronics, Beauty' 'Beauty, Books, Electronics'
 'Electronics, Home Appliances' 'Home Appliances, Sports, Beauty'
 'Home Appliances, Books, Electronics' 'Electronics, Sports, Fashion'
 'Beauty, Fashion, Books' 'Beauty, Home Appliances, Fashion'
 'Books, Fashion, Electronics' 'Sports, Fashion'
 'Sports, Home Appliances, Fashion' 'Fashion, Electronics'
 'Sports, Beauty, Home Appliances' 'Home Appliances, Fashion, Electronics'
 'Sports, Beauty, Electronics' 'Electronics, Sports, Books'
 'Home Appliances, Electronics, Beauty' 'Fashion, Sports, Books'
 'Sports, Home Appliances' 'Sports, Fashion, Beauty'
 'Books, Electronics, Beauty' 'Fashion, Books, Sports'
 'Electronics, Books, Fashion' 'Beauty, Books, Fashion'
 'Sports, Electronics, Fashion' 'Fashion, Electronics, Home Appliances'
 'Sports, Home Appliances, Electronics' 'Home Appliances, Books, Fashion'
 'Beauty, Books, Home Appliances' 'Books, Fashion'
 'Books, Home Appliances, Fashion' 'Fashion, Beauty, Electronics'
 'Fashion, Books' 'Electronics, Fashion, Sports'
 'Electronics, Books, Sports' 'Sports, Electronics'
 'Home Appliances, Fashion' 'Home Appliances, Sports, Electronics'
 'Beauty, Electronics, Fashion' 'Sports, Books, Fashion'
 'Beauty, Home Appliances, Sports' 'Books, Home Appliances, Sports'
 'Home Appliances, Beauty, Fashion' 'Fashion, Home Appliances, Beauty'
 'Electronics, Home Appliances, Fashion' 'Beauty, Books, Sports'
 'Electronics, Fashion, Books' 'Fashion, Sports, Beauty'
 'Beauty, Electronics, Sports' 'Beauty, Sports, Fashion'
 'Sports, Fashion, Books' 'Sports, Fashion, Home Appliances'
 'Fashion, Books, Beauty' 'Beauty, Fashion, Electronics'
 'Sports, Beauty, Fashion' 'Beauty, Home Appliances'
 'Books, Home Appliances, Electronics' 'Electronics, Beauty, Books'
 'Electronics, Home Appliances, Sports' 'Books, Electronics, Sports'
 'Beauty, Electronics, Books' 'Sports, Electronics, Home Appliances'
 'Books, Home Appliances, Beauty' 'Books, Fashion, Home Appliances'
 'Home Appliances, Electronics, Books'
 'Electronics, Beauty, Home Appliances' 'Fashion, Beauty, Home Appliances'
 'Electronics, Books, Home Appliances' 'Home Appliances, Sports, Fashion'
 'Fashion, Sports' 'Electronics, Books, Beauty' 'Books, Beauty, Sports'
 'Beauty, Fashion, Home Appliances' 'Sports, Electronics, Books'
 'Home Appliances, Fashion, Beauty' 'Books, Sports, Fashion'
 'Sports, Books, Electronics' 'Electronics, Fashion, Beauty'
 'Books, Electronics, Fashion' 'Fashion, Electronics, Books'
 'Fashion, Home Appliances, Books' 'Electronics, Fashion, Home Appliances'
 'Sports, Home Appliances, Books' 'Beauty, Fashion, Sports'
 'Books, Fashion, Beauty' 'Books, Beauty, Electronics'
 'Fashion, Sports, Home Appliances' 'Home Appliances, Fashion, Books'
 'Home Appliances, Beauty, Books' 'Electronics, Beauty, Fashion'
 'Books, Fashion, Sports' 'Sports, Books, Home Appliances'
 'Electronics, Home Appliances, Beauty' 'Books, Sports, Home Appliances'
 'Home Appliances, Books, Beauty' 'Fashion, Books, Home Appliances'
 'Home Appliances, Electronics, Sports' 'Electronics, Beauty, Sports'
 'Fashion, Beauty, Sports' 'Home Appliances, Books, Sports'
 'Fashion, Sports, Electronics']
['2022-08-17' '2022-08-15' '2022-12-18' '2023-03-19' '2023-01-09'
 '2023-06-06' '2023-07-02' '2023-05-19' '2023-05-29' '2024-02-22'
 '2023-03-25' '2023-08-07' '2024-01-05' '2023-02-21' '2023-05-01'
 '2022-08-05' '2024-03-02' '2023-10-01' '2024-01-08' '2022-10-28'
 '2022-10-09' '2022-12-19' '2022-10-25' '2022-08-31' '2023-06-20'
 '2023-03-12' '2022-12-02' '2023-02-01' '2024-02-11' '2024-06-05'
 '2023-07-22' '2022-10-16' '2024-04-06' '2023-02-05' '2023-01-22'
 '2024-06-25' '2024-04-03' '2023-04-30' '2023-05-25' '2023-03-16'
 '2024-01-22' '2022-11-24' '2024-06-14' '2024-07-23' '2024-05-03'
 '2022-12-23' '2022-12-29' '2022-09-30' '2022-12-09' '2023-06-07'
 '2024-02-26' '2024-02-19' '2022-11-21' '2023-02-25' '2022-10-10'
 '2023-07-15' '2023-10-22' '2023-06-26' '2023-12-05' '2023-01-11'
 '2024-03-29' '2024-04-25' '2024-02-16' '2023-07-05' '2024-02-15'
 '2022-09-29' '2024-04-19' '2023-10-02' '2023-03-30' '2023-05-17'
 '2024-04-05' '2024-04-08' '2022-12-31' '2022-08-03' '2023-08-18'
 '2023-04-07' '2024-01-16' '2023-08-15' '2023-01-12' '2024-05-19'
 '2023-03-02' '2023-05-31' '2022-12-21' '2022-12-15' '2023-08-25'
 '2023-05-04' '2022-12-13' '2023-01-15' '2022-11-18' '2024-06-10'
 '2022-10-07' '2023-07-25' '2024-04-16' '2024-04-28' '2023-09-28'
 '2022-08-21' '2023-12-24' '2023-10-31' '2023-01-05' '2023-04-14'
 '2023-11-17' '2023-04-13' '2023-12-18' '2023-06-29' '2024-06-19'
 '2022-09-28' '2023-04-04' '2022-09-15' '2024-03-14' '2024-04-18'
 '2024-07-18' '2023-12-25' '2023-01-16' '2022-11-22' '2023-11-09'
 '2023-07-31' '2023-12-23' '2024-05-10' '2023-10-09' '2023-03-31'
 '2024-02-27' '2023-11-02' '2024-02-20' '2023-01-27' '2024-06-13'
 '2022-10-13' '2024-07-13' '2023-04-11' '2024-06-07' '2024-02-02'
 '2023-08-08' '2023-12-26' '2022-09-16' '2023-03-27' '2022-09-18'
 '2022-09-26' '2023-08-21' '2024-05-09' '2023-05-18' '2024-04-14'
 '2022-08-04' '2024-07-20' '2023-03-05' '2023-03-23' '2024-02-03'
 '2024-07-11' '2023-11-14' '2023-04-01' '2023-10-13' '2024-05-11'
 '2023-03-17' '2023-09-21' '2023-02-18' '2024-05-08' '2023-09-01'
 '2023-05-08' '2023-12-21' '2024-01-14' '2023-11-11' '2023-02-16'
 '2024-01-06' '2024-02-24' '2023-05-16' '2023-03-01' '2022-10-14'
 '2023-04-23' '2023-12-03' '2023-11-27' '2023-10-17' '2023-12-22'
 '2024-02-04' '2023-02-06' '2024-02-06' '2024-03-10' '2024-03-06'
 '2023-01-18' '2024-06-02' '2023-11-15' '2023-12-28' '2024-03-13'
 '2023-10-25' '2024-04-01' '2024-04-26' '2024-05-26' '2023-10-29'
 '2024-05-01' '2024-05-23' '2023-06-27' '2024-03-28' '2023-02-17'
 '2024-03-27' '2023-01-06' '2023-05-06' '2023-12-12' '2024-01-01'
 '2024-07-09' '2023-03-29' '2022-08-09' '2024-06-03' '2023-01-25'
 '2024-03-12' '2024-06-09' '2023-04-12' '2022-09-01' '2024-05-22'
 '2024-02-17' '2024-03-18' '2024-02-25' '2022-12-08' '2023-09-17'
 '2023-04-06' '2023-07-23' '2024-06-26' '2024-01-11' '2024-03-22'
 '2023-10-11' '2024-01-30' '2023-11-19' '2022-12-24' '2023-03-07'
 '2022-09-25' '2023-05-15' '2024-04-30' '2024-05-25' '2023-04-03'
 '2023-01-21' '2023-11-23' '2023-06-14' '2023-04-10' '2022-10-23'
 '2022-08-18' '2023-04-02' '2024-01-17' '2024-05-24' '2022-11-29'
 '2024-06-01' '2024-01-24' '2023-01-24' '2024-06-08' '2023-12-02'
 '2023-01-31' '2023-04-05' '2024-05-07' '2023-08-20' '2024-01-21'
 '2023-01-17' '2023-07-16' '2024-05-29' '2023-06-24' '2024-02-13'
 '2023-05-20' '2023-09-26' '2024-06-20' '2023-12-04' '2022-08-24'
 '2024-01-13' '2022-08-26' '2024-01-23' '2022-10-17' '2023-07-04'
 '2023-07-12' '2022-10-26' '2023-11-30' '2023-11-04' '2024-04-21'
 '2022-10-31' '2023-03-08' '2023-05-24' '2024-07-12' '2024-05-21'
 '2023-01-26' '2023-04-27' '2022-12-01' '2023-09-08' '2023-09-18'
 '2023-06-01' '2022-07-31' '2024-07-27' '2023-01-14' '2022-09-21'
 '2023-04-26' '2023-11-22' '2023-10-05' '2022-10-02' '2023-08-12'
 '2023-11-13' '2022-11-05' '2023-05-09' '2024-02-29' '2023-03-03'
 '2024-01-10' '2022-09-03' '2024-06-22' '2022-08-11' '2023-07-27'
 '2023-09-09' '2023-11-25' '2022-08-13' '2024-02-14' '2023-03-09'
 '2024-03-08' '2022-11-14' '2023-09-10' '2023-06-15' '2024-05-13'
 '2024-06-21' '2023-04-21' '2024-04-29' '2024-02-05' '2023-03-04'
 '2022-11-13' '2022-12-05' '2022-10-15' '2023-09-23' '2024-06-18'
 '2023-05-14' '2023-11-20' '2023-09-06' '2024-07-17' '2022-11-12'
 '2023-03-13' '2023-01-28' '2024-01-31' '2024-05-05' '2023-02-08'
 '2023-06-09' '2023-03-28' '2023-06-12' '2023-02-02' '2023-08-26'
 '2024-05-27' '2023-05-30' '2024-07-16' '2024-07-22' '2022-09-07'
 '2023-02-10' '2023-09-20' '2024-05-02' '2023-07-18' '2022-12-10'
 '2022-11-30' '2023-10-03' '2022-12-30' '2024-01-04' '2024-04-24'
 '2024-04-07' '2022-11-02' '2024-07-26' '2024-07-07' '2023-12-15'
 '2024-02-09' '2024-02-08' '2023-10-21' '2024-01-27' '2024-01-20'
 '2022-11-08' '2023-11-28' '2022-11-17' '2023-02-11' '2022-08-30'
 '2023-07-13' '2023-04-28' '2023-02-22' '2022-08-29' '2023-05-23'
 '2024-02-23' '2024-05-16' '2022-10-03' '2023-12-30' '2023-10-08'
 '2023-05-02' '2024-06-17' '2022-10-12' '2023-01-23' '2024-01-12'
 '2022-09-11' '2023-12-09' '2023-07-10' '2022-09-10' '2023-05-13'
 '2024-03-15' '2023-02-07' '2023-02-24' '2023-07-03' '2023-12-11'
 '2024-03-31' '2022-11-15' '2022-10-20' '2022-12-04' '2023-07-17'
 '2024-04-10' '2024-07-19' '2023-07-29' '2024-05-30' '2024-01-29'
 '2024-02-18' '2024-06-29' '2023-09-27' '2023-06-28' '2024-02-07'
 '2022-08-10' '2023-10-06' '2024-05-14' '2024-02-12' '2023-06-22'
 '2022-11-26' '2022-08-06' '2023-02-20' '2023-11-05' '2023-06-18'
 '2024-07-14' '2023-01-19' '2023-11-26' '2022-11-25' '2023-02-13'
 '2024-07-03' '2023-02-15' '2023-01-07' '2024-06-11' '2022-10-19'
 '2024-04-12' '2022-10-21' '2022-08-01' '2024-03-05' '2022-09-14'
 '2023-03-14' '2022-11-20' '2022-09-24' '2023-06-17' '2023-06-08'
 '2022-10-04' '2023-09-22' '2023-07-24' '2023-10-24' '2023-08-11'
 '2022-12-28' '2024-03-20' '2024-06-12' '2022-09-02' '2024-05-06'
 '2023-09-02' '2022-09-09' '2023-11-16' '2022-09-22' '2022-11-23'
 '2023-10-27' '2022-12-25' '2024-02-28' '2022-12-20' '2024-01-07'
 '2023-05-21' '2022-11-09' '2024-01-15' '2024-05-31' '2023-12-07'
 '2022-10-22' '2023-10-07' '2023-12-27' '2023-03-26' '2023-09-16'
 '2023-06-10' '2024-02-01' '2023-01-04' '2023-09-19' '2024-06-23'
 '2022-09-05' '2024-03-21' '2024-07-15' '2022-12-14' '2023-08-23'
 '2023-08-05' '2023-08-17' '2022-11-06' '2023-03-22' '2024-07-02'
 '2023-07-28' '2022-12-27' '2022-08-14' '2022-10-06' '2024-05-15'
 '2024-02-21' '2024-06-15' '2022-09-13' '2022-12-16' '2022-11-28'
 '2023-12-13' '2022-10-05' '2024-07-10' '2024-03-25' '2022-10-30'
 '2023-10-04' '2022-08-25' '2022-10-01' '2023-10-20' '2023-08-19'
 '2023-10-18' '2023-02-04' '2023-02-03' '2023-01-30' '2023-09-04'
 '2023-10-16' '2024-04-23' '2023-10-28' '2024-03-23' '2023-01-03'
 '2022-11-27' '2023-10-19' '2023-10-23' '2024-04-20' '2023-09-05'
 '2023-11-10' '2023-02-23' '2023-05-27' '2022-10-11' '2023-04-29'
 '2023-02-26' '2022-09-20' '2023-08-24' '2023-02-19' '2024-05-17'
 '2024-05-28' '2023-09-12' '2024-04-02' '2023-12-31' '2022-10-24'
 '2022-09-04' '2023-06-11' '2023-01-01' '2022-08-16' '2024-04-13'
 '2023-03-11' '2023-12-17' '2022-10-27' '2023-04-15' '2023-03-24'
 '2023-01-29' '2024-03-19' '2023-07-01' '2022-08-08' '2024-05-12'
 '2024-01-28' '2024-06-30' '2022-09-19' '2023-11-06' '2023-10-10'
 '2023-07-08' '2023-09-24' '2023-08-06' '2024-06-24' '2023-05-03'
 '2023-08-14' '2023-12-01' '2023-07-07' '2024-03-30' '2023-07-21'
 '2023-05-10' '2023-09-29' '2023-08-31' '2022-10-18' '2023-03-18'
 '2023-12-10' '2023-12-14' '2022-12-22' '2022-11-07' '2024-07-29'
 '2023-04-16' '2023-09-13' '2024-02-10' '2023-09-14' '2023-08-13'
 '2022-12-06' '2023-11-07' '2023-05-11' '2022-12-11' '2022-09-27'
 '2023-05-07' '2023-03-15' '2022-08-07' '2024-07-08' '2022-08-12'
 '2023-03-06' '2024-06-06' '2023-11-08' '2024-01-26' '2024-03-16'
 '2024-05-18' '2023-07-20' '2024-04-11' '2024-03-17' '2022-09-08'
 '2023-02-09' '2023-12-19' '2023-05-28' '2022-08-20' '2024-01-18'
 '2023-08-22' '2024-04-22' '2022-08-22' '2022-09-23' '2023-12-16'
 '2024-06-16' '2023-11-21' '2023-11-18' '2024-07-06' '2022-08-28'
 '2024-07-04' '2023-11-12' '2023-10-26' '2023-11-29' '2024-01-09'
 '2022-10-08' '2023-08-29' '2023-07-09' '2023-08-04' '2023-04-09'
 '2024-04-15' '2022-12-12' '2023-06-30' '2023-01-20' '2023-06-21'
 '2023-09-07' '2024-07-24' '2023-08-16' '2022-11-01' '2023-08-27'
 '2023-09-30' '2024-07-25' '2022-11-16' '2024-03-03' '2023-10-15'
 '2023-02-12' '2023-05-12' '2023-01-10' '2023-12-20' '2022-09-12'
 '2023-04-18' '2023-06-13' '2023-04-24' '2023-01-02' '2023-08-03'
 '2023-08-30' '2023-05-05' '2024-06-27' '2023-04-20' '2024-06-04'
 '2024-04-09' '2024-07-01' '2023-04-17' '2024-03-07' '2024-03-01'
 '2023-07-26' '2022-08-02' '2023-05-22' '2023-07-19' '2022-12-07'
 '2023-08-09' '2024-07-28' '2023-06-03' '2023-08-10' '2022-08-23'
 '2023-04-08' '2022-11-11' '2023-07-30' '2023-06-02' '2024-03-26'
 '2024-01-19' '2023-04-25' '2024-04-17' '2023-06-23' '2024-01-02'
 '2023-05-26' '2023-01-08' '2022-09-17']
['2025-02-13' '2024-04-17' '2025-07-05' '2024-10-03' '2023-06-11'
 '2025-05-14' '2024-04-21' '2024-04-28' '2024-03-04' '2024-09-16'
 '2023-08-07' '2024-08-27' '2025-02-14' '2024-01-17' '2023-10-14'
 '2023-04-03' '2025-02-02' '2024-10-19' '2024-09-29' '2023-12-11'
 '2022-12-27' '2023-02-20' '2023-03-24' '2025-02-27' '2024-08-20'
 '2023-05-21' '2025-05-08' '2024-04-29' '2024-05-24' '2024-11-12'
 '2023-12-12' '2025-01-11' '2024-04-13' '2023-05-02' '2024-09-10'
 '2024-07-28' '2024-04-04' '2024-09-07' '2023-10-01' '2025-02-28'
 '2024-12-16' '2023-09-03' '2024-07-08' '2024-09-21' '2025-02-22'
 '2025-04-28' '2024-04-30' '2025-05-29' '2025-07-26' '2024-03-12'
 '2025-03-03' '2024-09-03' '2024-05-13' '2023-10-18' '2024-03-22'
 '2024-08-05' '2023-06-13' '2025-07-16' '2023-11-02' '2024-07-12'
 '2023-12-23' '2024-09-18' '2025-06-02' '2024-06-29' '2023-07-13'
 '2024-12-04' '2024-11-04' '2024-08-22' '2024-10-29' '2025-02-19'
 '2023-08-24' '2024-12-13' '2023-03-18' '2024-07-20' '2024-12-05'
 '2025-02-11' '2025-05-05' '2024-03-19' '2023-02-01' '2025-06-14'
 '2024-08-23' '2023-09-01' '2025-06-01' '2025-01-30' '2025-02-09'
 '2024-01-28' '2024-01-01' '2025-01-31' '2025-06-15' '2024-01-29'
 '2024-12-31' '2024-03-29' '2023-09-19' '2025-02-15' '2023-05-13'
 '2025-04-12' '2025-05-25' '2025-04-27' '2024-10-27' '2024-03-01'
 '2023-11-04' '2024-02-22' '2024-08-15' '2025-01-24' '2024-07-31'
 '2024-05-03' '2023-02-25' '2023-05-19' '2024-12-09' '2023-07-18'
 '2024-09-15' '2024-12-24' '2024-07-24' '2023-10-21' '2025-07-23'
 '2024-08-13' '2023-11-22' '2024-07-11' '2024-10-18' '2024-07-06'
 '2024-10-11' '2025-07-08' '2024-05-09' '2024-03-15' '2025-07-09'
 '2025-07-30' '2023-09-30' '2024-05-15' '2025-02-16' '2024-05-02'
 '2025-02-12' '2023-08-30' '2024-08-24' '2023-12-10' '2024-11-25'
 '2024-06-19' '2024-03-24' '2024-03-23' '2025-02-05' '2025-07-01'
 '2024-11-09' '2024-11-17' '2023-11-30' '2025-03-08' '2025-03-02'
 '2024-09-02' '2023-12-01' '2024-04-25' '2025-01-27' '2024-10-02'
 '2023-12-07' '2023-12-29' '2024-05-23' '2025-01-10' '2024-10-17'
 '2025-03-19' '2024-01-10' '2024-10-06' '2024-04-22' '2023-04-07'
 '2024-06-11' '2024-11-13' '2024-01-08' '2024-04-16' '2025-03-17'
 '2024-10-26' '2024-10-16' '2024-05-08' '2024-04-01' '2025-07-29'
 '2023-12-19' '2024-12-27' '2023-07-14' '2025-07-02' '2023-12-14'
 '2023-09-22' '2024-12-14' '2024-08-26' '2024-05-28' '2024-10-14'
 '2024-01-03' '2024-02-24' '2025-06-03' '2024-09-12' '2024-08-16'
 '2023-07-15' '2025-06-13' '2025-07-11' '2024-01-22' '2025-06-07'
 '2024-09-22' '2025-05-27' '2024-08-19' '2023-12-24' '2024-08-12'
 '2024-11-15' '2024-09-30' '2024-06-23' '2025-05-30' '2024-07-03'
 '2023-03-22' '2025-05-17' '2024-10-09' '2024-05-21' '2025-04-06'
 '2023-05-29' '2025-01-13' '2024-11-06' '2025-06-30' '2023-12-13'
 '2024-11-21' '2025-01-06' '2025-05-01' '2025-01-22' '2025-03-23'
 '2024-06-17' '2024-10-25' '2024-08-30' '2024-04-23' '2024-11-14'
 '2024-07-17' '2025-04-10' '2024-08-08' '2024-10-13' '2023-03-19'
 '2024-06-15' '2024-08-07' '2024-07-16' '2025-05-06' '2024-06-22'
 '2025-01-28' '2023-07-01' '2023-04-29' '2023-06-09' '2025-06-04'
 '2024-12-07' '2025-07-21' '2024-05-31' '2024-12-19' '2023-07-04'
 '2025-07-04' '2024-09-09' '2024-10-23' '2023-08-27' '2024-04-18'
 '2025-04-18' '2023-03-04' '2025-05-22' '2022-10-15' '2024-07-18'
 '2024-12-26' '2024-05-11' '2025-07-06' '2025-07-24' '2024-09-24'
 '2023-02-02' '2024-03-16' '2024-07-30' '2024-07-15' '2024-02-21'
 '2024-11-05' '2025-04-26' '2024-04-27' '2023-09-14' '2023-10-08'
 '2024-05-20' '2024-01-13' '2025-05-13' '2025-01-20' '2023-07-05'
 '2024-10-31' '2024-01-31' '2023-11-26' '2025-01-16' '2024-01-09'
 '2025-04-05' '2024-07-09' '2023-06-29' '2024-09-08' '2025-01-17'
 '2025-01-23' '2024-09-13' '2024-12-06' '2024-01-06' '2023-06-05'
 '2025-01-03' '2024-04-03' '2024-10-05' '2025-03-12' '2023-12-26'
 '2024-09-06' '2023-04-23' '2023-10-29' '2023-12-27' '2023-10-20'
 '2025-01-01' '2024-11-20' '2023-11-03' '2024-03-21' '2024-09-14'
 '2025-06-26' '2025-06-09' '2024-03-26' '2023-10-13' '2025-06-24'
 '2022-12-15' '2024-06-01' '2023-06-24' '2024-01-07' '2024-01-11'
 '2023-11-18' '2024-07-22' '2023-11-27' '2025-07-10' '2023-09-16'
 '2025-04-03' '2025-06-10' '2024-08-09' '2025-05-02' '2023-02-28'
 '2025-07-20' '2024-02-01' '2024-01-05' '2025-05-18' '2024-06-13'
 '2025-02-23' '2024-12-28' '2024-04-20' '2024-11-27' '2024-08-28'
 '2025-04-11' '2024-05-19' '2023-08-16' '2024-02-07' '2024-09-27'
 '2024-12-25' '2023-07-29' '2025-01-26' '2024-10-10' '2025-03-01'
 '2024-02-05' '2024-07-13' '2023-10-24' '2023-02-10' '2023-09-20'
 '2024-04-10' '2023-05-14' '2024-08-31' '2023-09-24' '2023-09-02'
 '2024-05-29' '2024-02-06' '2024-12-12' '2024-09-26' '2024-11-02'
 '2023-05-27' '2023-07-17' '2025-06-23' '2024-10-28' '2024-07-23'
 '2023-06-15' '2025-04-15' '2024-01-12' '2025-02-21' '2024-04-09'
 '2024-12-08' '2024-05-06' '2025-05-09' '2024-12-01' '2023-12-04'
 '2024-10-07' '2024-06-12' '2024-03-28' '2024-09-23' '2025-05-12'
 '2024-09-04' '2025-01-14' '2024-08-03' '2024-03-30' '2024-01-04'
 '2023-08-15' '2025-01-08' '2024-12-02' '2023-12-22' '2024-05-18'
 '2025-02-24' '2023-10-04' '2023-11-23' '2025-03-29' '2024-03-11'
 '2024-11-03' '2025-05-10' '2025-03-11' '2024-06-25' '2025-01-18'
 '2025-04-09' '2024-06-02' '2025-05-07' '2023-08-17' '2024-08-11'
 '2023-02-26' '2023-07-23' '2024-06-27' '2023-04-12' '2022-10-03'
 '2025-03-04' '2024-10-30' '2023-09-17' '2024-11-24' '2024-03-27'
 '2022-10-16' '2024-04-11' '2025-02-25' '2025-05-26' '2025-04-21'
 '2024-01-19' '2023-09-18' '2024-09-11' '2025-06-21' '2024-03-07'
 '2024-03-10' '2024-11-08' '2024-03-09' '2022-11-04' '2024-07-01'
 '2025-06-29' '2024-07-25' '2024-05-22' '2023-04-02' '2024-02-15'
 '2023-07-31' '2024-07-29' '2023-08-22' '2024-05-25' '2025-06-12'